/*Navbar Start*/

.nav-height{
	padding-top: 30px;
	padding-bottom: 30px;
	background: #C8C1B5 !important;
	transition: background 0.5s ease;
}

.nav-ul{
	text-transform: uppercase;
}

.nav-ul li a{
	color: black !important;
}

.navbar-nav img{
	width: 22px;
	height: auto;
}

.navbar-nav li{
	margin: 0px 15px;
}



.nav-height:hover{
	background: white !important;
}

.cart{
	position: relative;
}

.cart-notif{
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #D6D2C4;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 120px;
	top: 30px;
	display: none;
}

.menu-logo{
	height: 30px !important;
	width: auto !important;
}

.nav-link{
	transition: border-top 0.1s ease;
	transition: color 0.2 ease;
}


.nav-link:hover{
	border-top: 3px solid grey;
	color: grey;
}

@media screen and (max-width: 992px){
	.nav-icons{
		display: none;
	}

	.logo{
	width: 130px;
	height: auto;	
}
}


/*Navbar End*/



/*Carousal */


.col-height{
	height: 600px;
}

.carousel-height{
	height: 110vh;
	background: #C8C1B5 !important;
}

.carousel-image-shadow{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background: #CDC3B9;
	position: absolute;
	top: 100px;
	right: 80px;
}

.carousel-image-border{
	height: 470px;
	width: 470px;
	border-radius: 50%;
	border: 1px solid floralwhite;
	position: absolute;
	top: 120px;
	right: 120px;
}


.slide1-col2-image{
	position: absolute;
	top: 150px;
	right: 200px;
}

.col1-btn{
	padding: 15px 55px;
	color: white;
	font-weight: bolder;
	background: #968C83;
	border-radius: 5px;
	border: 0px;
}

.slide1-col1{
	display: table;
}

.col1-sub{
	display: table-cell;
	vertical-align: middle;
	padding-left: 90px;
}
.col1-sub p{
	font-size: 20px;
}

.col1-sub h1{
	color: #564C42;
}

.col1-sub p span{
	color: #978F8B;
	text-decoration: line-through;
}

.slide1-col1 h1{
	font-size: 50px;

}

.slide-btn{
	height: 50px;
	width: 50px;
	background: #FFFFFF;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide-btn img{
	transition: scale .3s;
}

.slide-btn img:hover{
	transform: scale(1.3);
}

/*Carousal*/


/*Sec 1*/

.row1{
	height: 730px;
}

.col1-row1{
	height: 50%;
	width: 100%;
}

.col2-row1{
	height: 40%;
	width: 100%;
}

.col2-row2{
	height: 60%;
	width: 100%;
}

.col2-row2-1{
	height: 100%;
	width: 50%;
}

.desc span{
	color: grey;
	font-size: 12px;

}

.desc button{
	padding: 10px 40px;
	background: transparent;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 12px;
}

.desc p{
	font-weight: bolder;
	font-size: 20px;
}

.sub-col{
	background: #F1F0ED;
	box-sizing: border-box;
}

.sec1-image img{
	width: 250px ;
	height: auto;
}

.sec1-image5 img{
	width: 170px;
	height: auto;
}



@media screen and (max-width: 576px){
	.col1-row1{
		padding: 0px;
	}

	.sub-col{
		width: 100%;
		padding: 0px;
	}

	.col2-row2{
		flex-direction: column;
	}

	.col2-row2-1{
		width: 100%;
	}

	.col2-row1{
		height: 260px;
	}

	.sec1-image img{
		width: 180px;
		height: auto;
	}

	.desc p{
		font-size: 15px;
	}

	.desc button{
		padding: 8px 15px;
	}

	.sec1{
		margin-bottom: 1200px;
	}

}

@media screen and (max-width: 992px){

	.sec1{
		margin-bottom: 750px;
	}
}

@media screen and (max-width: 340px){

	.sec1{
		margin-bottom: 850px;
	}
}



/*Sec 1*/

/*Sec 2*/

.head{
	text-align: center;
	position: relative;
}

.head h1{
	margin: 0px auto;
	width: 500px;
	border-bottom: 1px solid grey;
}

.sec2-icon img{
	width: 22px;
	height: auto;
	visibility: hidden;
}

.sec2-img{
	background: url(images/18-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.sec2-img button{
	padding: 8px 25px;
	border: none;
	background: #968C83;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	margin-top: 240px;
	transition: background 0.3s ease;
	visibility: hidden;
}

.sec2-img:hover{
	background: url(images/18.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;

}

.sec2-img:hover button{
	visibility: visible;
}

.sec2-img:hover .sec2-icon img{
	visibility: visible;
}

.sec2-pro-desc span{
	color: grey;
	font-size: 10px;
	font-weight: bolder;
}

.sec2-pro-desc p{
	margin: 0px;
	font-size: 15px;
}

.sec2-pro-desc h5{
	margin-top: 5px;
	color: grey;
	font-size: 17px;
}

.img2{
	background: url(images/17-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img2:hover{
	background: url(images/17.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

.img3{
	background: url(images/16-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img3:hover{
	background: url(images/16.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

.img4{
	background: url(images/13-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img4:hover{
	background: url(images/13.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}
.img5{
	background: url(images/12-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img5:hover{
	background: url(images/12.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

.img6{
	background: url(images/11-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img6:hover{
	background: url(images/11.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

.img7{
	background: url(images/10-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img7:hover{
	background: url(images/10.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

.img8{
	background: url(images/9-500x653.jpg);
	width: 100%;
	height: 360px;
	background-size: cover;
	transition: background 0.3s ease;
}

.img8:hover{
	background: url(images/9.1-500x653.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

@media screen and (max-width: 342px){
	.head h1{
		width: 300px;
	}

	.head{
		margin-top: 200px;
	}

}





/*Sec 2*/


/*Sec3*/

.sec3-h1{
	font-size: 40px;
	color: grey;
	width: fit-content;
	margin: 0px auto;
}

.sec3-col a{
	text-decoration: none;
}

.sec3-col img{
	width: 100%;
	height: auto;
	background-size: cover;
}

.blog-head{
	font-size: 10px;
}

.blog-auth{
	font-size: 10px;
}

.blog-title{
	color: #564C42;
	text-decoration: none;
	font-weight: bolder;
	font-size: 18px;
	transition: color 0.5s ease;
}

.blog-desc{
	font-size: 16px;
}

.blog-title:hover{
	color: grey;
}

.sec3-img{
	height: 448px !important;
	width: auto;
}


/*Sec3*/

/*Sec4 */

.sec4{
	background: #F6F6F6;
}

.sec4-col2{
	display: table;
}

.sec4-col2-sub span{
	color: grey;
	font-size: 13px;
}

.sec4-col2-sub h1{
	font-size: 50px;
	color: #564C42;
}

.sec4-col2-sub h3{
	color: #564C42;
}

.sec4-col2-sub button{
	border: 0px;
	padding: 8px 20px;
	color: white;
	background: #564C42;
	border-radius: 4px;
}


.sec4-col1-sub img{
	width: 550px;
	height: auto;
}
.sec4-col2-sub{
	display: table-cell;
	vertical-align: middle;
}


@media screen and (max-width: 342px){

	.sec4-col1-sub img{
	width: 100%;
	height: auto;
	}

	.sec4-col2-sub span{
	color: grey;
	font-size: 10px;
}

.sec4-col2-sub h1{
	font-size: 35px;
	color: #564C42;
}

.sec4-col2-sub h3{
	color: #564C42;
}



}




/*Sec4 */


/*Sec 5*/

.sec5 p{
	color: black;
	width: fit-content;
	margin: 0px auto;
}

.sec5 div{
	width: fit-content;
	margin: 0px auto;
	border-bottom: 1px solid black;
}

.sec5 div input{
	width: 500px;
	height: 60px;
	border: 0px;
}

.sec5 div input:focus{
	outline: none;
}

@media screen and (max-width: 342px){
	.sec5 div input{
	width: 85%;
	height: 60px;
	border: 0px;
	}
}





/*Sec 5*/



/*Sec 6 */

.sec6{
	position: relative;
}

.sec6-col img{
	width: 100%;
	height: auto;
	background-size: cover;
}

.sec6-col{
	position: relative;
}


.sec6-opa{
	height: 196px;
	width: 196px;
	background: #0000006b;
	position: absolute;
	top: 8px;
	display: none;
	justify-content: center;
	align-items: center;
}

.sec6-opa i{
	font-size: 40px !important;
	color: white !important;
}

.sec6-col:hover .sec6-opa{
	display: flex;
}

.insta-link{
	padding: 10px 20px;
	/* width: 180px; */
	display: inline;
	position: absolute;
	background: white;
	top: 130px;
	left: 540px;
}



@media screen and (max-width: 768px){
	.sec6-opa{
	height: 284.66px;
	width: 284.66px;
	background: #0000006b;
	position: absolute;
	top: 8px;
	display: none;
	justify-content: center;
	align-items: center;
	}

	.insta-link{
		display: none;
	}
}

@media screen and (max-width: 576px){
	.sec6-opa{
	height: 100%;
	width: 100%;
	background: #0000006b;
	position: absolute;
	top: 8px;
	display: none;
	justify-content: center;
	align-items: center;
	}

	.insta-link{
		display: none;
	}
}




/*Sec 6 */


/*footer*/

.footer-links ul{
	display: flex;
	list-style-type: none;
	padding: 0px;
}

.footer-links li{
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7px;
}

.foot-links ul{
	list-style-type: none;
	padding: 0px;
}

.foot-links li{
	line-height: 2;
}

.footer{
	background: #F6F6F6;
}


.footer a{
	text-decoration: none;
	color: black;
	margin: 10px;
}
.cont{
	padding: 5px 0px;
}








/*footer*/


/*About Sec1*/

.abtsec1-bck{
	background: url(images/ab_header-scaled.jpg);
	background-size: cover;
	width: 100%;
	height: 365px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.abtsec1-bck h1{
	color: white;
	font-size: 50px;	
}

.abtsec1-bck p{
	color: white;
	font-size: 20px;
}


@media screen and (max-width: 374px){
	body{
		overflow-x: hidden;
	}
}


/*About Sec1*/


/*About sec2*/







/*About sec2*/


/*About sec4*/
/*About sec4*/




/*About sec5*/

.abtsec5-ul{
	list-style-type: none;
	padding: 0px;
}

.abtsec5-ul li{
	margin: 4px;
	height: 30px;
	width: 30px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.abtcon-sec5{
	width: 100%; 
	height: 100%; 
	padding: 30px; 
	background: #988f86a3; 
	color: white;
	visibility: hidden;
}

.abt-sec5:hover .abtcon-sec5{
	visibility: visible;
}



/*About sec5*/



/*About sec6*/


.abt-sec6-link{
	left: 590px;
	top: 330px;
}

/*About sec6*/

/*Blog sec1*/


.blog-sec1-input{
	border: 0px;
	width: 100%;
	height: 50px;
	font-size: 17px;
	background: #F3F3F3;
	padding: 10px;
}

.blog-sec1-input:focus{
	outline: none;
}

.blog-sec1-ul{
	list-style-type: none;
	padding: 0px;
}

.blog-sec1-ul li{
	font-size: 18px;
	line-height: 2.5;

	padding-left: 5px;
}

.blog-sec1-ul li:hover{
	border-left: 4px solid #968C83;
	color: #968C83 ;
}

.blog-sec1-drop{
	height: 50px;
	padding: 10px;
}
.blog-sec1-drop:focus{
	outline: none;
}

.fur1{
	background: url(images/blog-layout3-1@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}
.fur2{
	background: url(images/blog-layout3-2@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}
.fur3{
	background: url(images/blog-layout3-3@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}
.fur4{
	background: url(images/blog-layout3-4@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}
.fur5{
	background: url(images/blog-layout3-5@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}
.fur6{
	background: url(images/blog-layout3-6@2x.jpg);
	width: 100%;
	height: 365px;
	background-size: cover;
	position: relative;
}

.blog-sec1-furdesc{
	position: absolute;
	width: 85%;
	border-radius: 4px;
	background: White;
	text-align: center;
	padding: 20px;
	left: 36px;
	bottom: -75px;
	box-shadow: 0px 0px 10px 1px grey;
}

.blog-sec1-furdesc button{
	border: none;
	padding: 5px 10px;
	font-size: 13px;
	background: #968C83;
	border-radius: 4px;
}

.blog-sec1-furdesc h2{
	font-size: 30px;
	transition: color 0.4s ease;
}

.blog-sec1-furdesc h2:hover{
	color: #968C83;
}

.blog-sec1-furdesc p a{
	text-decoration: none;
	color: #968C83;
	transition: color 0.4s ease;
}

.blog-sec1-furdesc p a:hover{
	color: black;
}

.blog-sec1-posts{
	list-style-type: none;
	padding: 0px;
}

.blog-sec1-posts li p{
	font-size: 13px;
	color: #968C83;
	margin: 0px;
	margin-bottom: 10px;
}

.blog-sec1-posts li a{
	text-decoration: none;
	color: black;
}

.blog-sec1-posts li{
	padding: 15px 0px;
	border-bottom: 1px solid #80808014;
}

.blog-insta img{
	width: 100%;
	height: auto;
}

.blog-tags a{
	 text-decoration: none;
	 color: black;
	 padding: 5px 10px;
	 background: #F3F3F3;
	 box-sizing: border-box;
}






/*Blog sec1*/


/*Contact Sec 1*/


.consec1-bck{
	background: url(images/contact-bg-scaled.jpg);
	background-size: cover;
	width: 100%;
	height: 365px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.consec1-bck h1{
	color: white;
	font-size: 50px;	
}

.consec1-bck p{
	color: white;
	font-size: 20px;
}
.col1-h4{
	color: #564C42;
}

/*Contact Sec 1*/


/*Contact sec2*/

.col2-form input{
	height: 50px;
	padding: 10px;
}

.col2-form textarea{
	height: 200px;
	padding: 10px;
}

.col2-form input:focus{
	outline: none;
}

.col2-form textarea:focus{
	outline: none;
}

.col2-form button{
	padding: 10px 30px;
	border: none;
	color: white;
	background: #988E85;
	font-weight: bolder;
	border-radius: 5px;
	transition: background 0.4s ease;
	transition: color 0.4s ease;
}

.col2-form button:hover{
	background: #988e8566;
	color: black;
}

.g-maps{
	width: 100%;
	height: 400px;
}




/*Contact sec2*/

/*Product sec1*/

.product-img img{
	width: 100%;
	height: auto;
}

.col2-pro button{
	height: 50px;
	width: 40px;
	border: 0px;
	background: transparent;
}

.col2-pro .btn1{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.col2-pro .btn2{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.col2-pro .btn3{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

}


/*Product sec1*/



/*Product sec2*/

.pro-sec2-head a{
	text-decoration: none;
	color: black;
}
.pro-sec2 p{
	font-size: 18px;
}

.pro-sec2-img img{
	width: 100%;
	height: auto;
}







/*Product sec2*/



/*Product sec3*/

.pro-sec3-bck1{
	background: url(images/22-500x653.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	transition: background 0.4s ease;
}
.pro-sec3-bck2{
	background: url(images/21-500x653.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	transition: background 0.4s ease;

}
.pro-sec3-bck3{
	background: url(images/17-500x653.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	transition: background 0.4s ease;

}
.pro-sec3-bck4{
	background: url(images/18-500x653.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	transition: background 0.4s ease;

}
.pro-sec3-bck5{
	background: url(images/11-500x653.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	transition: background 0.4s ease;

}

.pro-sec3-col img{
	width: 23px;
	height: auto;
	visibility: hidden;
	transition: visibility 0.4s ease;
}

.pro-sec3-col button{
	margin-top: 185px;
	visibility: hidden;
	transition: visibility 0.4s ease;
}

.pro-sec3-bck1:hover{
	background: url(images/22-1-500x653.jpg);
	background-size: cover;
}

.pro-sec3-bck2:hover{
	background: url(images/21-1-500x653.jpg);
	background-size: cover;
}

.pro-sec3-bck3:hover{
	background: url(images/17-1-500x653.jpg);
	background-size: cover;
}
.pro-sec3-bck4:hover{
	background: url(images/18.1-500x653.jpg);
	background-size: cover;
}

.pro-sec3-bck5:hover{
	background: url(images/11.1-500x653.jpg);
	background-size: cover;
}

.pro-sec3-col:hover img {
	visibility: visible;
}

.pro-sec3-col:hover button{
	visibility: visible;
}



.pro-sec3-p{
	margin: 0px;
}

.pro-sec3-p a{
	text-decoration: none;
	color: black;
	transition: color 0.4s ease;
}

.pro-sec3-p a:hover{
	color: #988F86;
}





/*Product sec3*/
